<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layout/layout_images_openlayer_zoom_final_upload_v1}">
    <head>
        <meta charset="UTF-8">
        <title>Tiff viewer</title>
    </head>
    <body >
        <div layout:fragment="cabecera">
            <h1>Data viewer</h1>
        </div>
        <div layout:fragment="contenido">
            <div className="container h-100">
                <div className="row d-flex justify-content-center align-items-center h-100">
                     <div className="col-lg-12 col-xl-11">
                        <div className="card text-black" style="border-radius: 25px;">
                            <div className="card-body p-md-5">
                                <div className="row justify-content-center">

                                        <div class="card-body p-md-5">
                                            <div class="row justify-content-center">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <div className="d-flex flex-row align-items-center mb-4">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <input th:type="hidden" id = "path" th:field="${file.path}">
                                                                    <input th:type="hidden" id = "filename" th:field="${file.description}">
                                                                    <input th:type="hidden" id = "lat" th:field="${file.latitude}">
                                                                    <input th:type="hidden" id = "long" th:field="${file.longitude}">
                                                                    <button class="btn btn-outline-success" id = "clearcanvas" >Clear</button>
                                                                    <button  class="btn btn-outline-success" id = "showpolygon" >Show polygon</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <form action="#"  th:object="${dates}" method="post">
                                                            <div class="form-group">
                                                                <label for="startDate">Start Date</label>
                                                                <div class="input-group date" data-date-format="dd/mm/yyyy">
                                                                    <input class="form-control" type="text" th:field="*{startDate}" th:errorclass="is-invalid" id="startDate" placeholder="dd/mm/yyyy" />
                                                                    <div class="input-group-addon input-group-append">
                                                                        <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                                    </div>
                                                                </div>
                                                                <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="error"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="endDate">End Date</label>
                                                                <div class="input-group date" data-date-format="dd/mm/yyyy">
                                                                    <input class="form-control" type="text" th:field="*{endDate}" th:errorclass="is-invalid" id="endDate" placeholder="dd/mm/yyyy" />
                                                                    <div class="input-group-addon input-group-append">
                                                                        <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                                    </div>
                                                                </div>
                                                                <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="error"></span>
                                                            </div>
                                                            <div th:if="${#fields.hasErrors('global')}" th:errors="*{global}" class="error"></div>
                                                            <input class="btn btn-success" type="submit" value="Confirm" />
                                                        </form>
                                                    </div>
                                                    <div class="col-7">
                                                        <label for="coordinates">Polygon coordinates</label>
                                                        <div class="d-flex flex-row align-items-center mb-8">

                                                            <div class="form-outline w-100 mb-8">
                                                                <textarea class="form-control" id="coordinates" rows="6"
                                                                          cols="10"
                                                                          name="coordinates"
                                                                          placeholder=""                                                             ></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>