<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">

<body>

<div layout:fragment="content">

    <div class="pagetitle">
        <h1>Inicio Chat</h1>
    </div><!-- End Page Title -->
    <div><a  href='/chat/entrenador' >
        chat Entrenador</a></div>
    <div><a  href='/chat/chatprueba' >
        chat Chat prueba</a></div>
    <div><a  href='/chat/atletas' >
        chat Atletas</a></div>
</div>

</body>
</html>