<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{userguide.querysoc.title}"></title>
</head>
<body>
<div layout:fragment="cabecera">
    <h1 th:text="#{userguide.sentinelcredentials.title}"></h1>
    <h1 th:if="${ayudatitulo != 'Not found' }"  th:text="${ayudatitulo}"></h1>
</div>
<div layout:fragment="contenido">
    <form class="mx-1 mx-md-4"  role="form"  method="get">
        <div>
            <a th:href="@{/userguide/ctr/home}" >Go to user guide main page</a>
            <div class="field-item even">
                <p id="buttontoscreen">Sentinel Credentials access: <button type="submit" value="sentinelcredentialspage"
                                                                            class="btn btn-outline-success btn-sm"
                                                                            th:formaction="'/api/credentials'"
                                                                            th:method="get"
                                                                            th:text="#{userguide.sentinelcredentials.ayudabody}" ></button>.
                </p>
                <p id="introduction">
                When launching queries to Copernicus Sentinel HUB is needed an authentication token.
                <div class="container-sm py-5">
                    <img class="img-fluid" id="Picturep" th:src="@{/img/sentinelcredentials.png}"/>
                </div>
                If this token is missing, any action related to Copernicus Sentinel HUB menu will redirect to this screen.
                <p id="stepsoptions">
                To get this token user must input the clientID and the secret provided by Copernicus.
                User must follow this steps to get its own credentials:
                <ul>
                    <li>Sing in into Dataspace Copernicus:
                        <div class="container-sm py-5">
                            <img class="img-fluid" id="Picture0" th:src="@{/img/copernicus0.png}"/>
                        </div>
                    </li>
                    <li>In the user's dashboard click on <strong>User settings</strong>
                        <div class="container-sm py-5">
                            <img class="img-fluid" id="Picture1" th:src="@{/img/copernicus1.png}"/>
                        </div>
                    </li>
                    <li>On the right side of the screen user will find section <strong>OAuth Clients</strong>.
                        In case it does not exist, create a new one and do not forget to saved clientID and secret in a safe place.
                        <div class="container-sm py-5">
                            <img class="img-fluid" id="Picture2" th:src="@{/img/copernicus2.png}"/>
                        </div>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </form>
</div>
</body>
</html>